name: Docker E2E Weekly

on:
  # Trigger every Friday at 00:00 UTC. You can adjust the cron expression as needed.
  schedule:
    - cron: '0 0 * * 5'
  # Allow manual triggering from the Actions tab (useful for testing).
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on:
        group: scroll-reth-runner-group
    permissions: {}

    steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      with:
        cache-binary: false

    - name: Extract docker metadata (stable)
      id: meta-stable
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
      with:
        images: scrolltech/rollup-node
        tags: |
          type=raw,value=e2e-test-nightly
        flavor: |
          latest=false

    - name: Extract docker metadata (nightly)
      id: meta-nightly
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
      with:
        images: scrolltech/rollup-node
        tags: |
          type=raw,value=e2e-test-nightly
        flavor: |
          latest=false

    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build docker image (stable)
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: .
        file: Dockerfile
        push: true
        tags: ${{ steps.meta-stable.outputs.tags }}
        labels: ${{ steps.meta-stable.outputs.labels }}
        cache-from: type=gha,scope=${{ github.workflow }}-stable-e2e
        cache-to: type=gha,scope=${{ github.workflow }}-stable-e2e

    - name: Build docker image (nightly)
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: .
        file: Dockerfile
        push: true
        tags: ${{ steps.meta-nightly.outputs.tags }}
        labels: ${{ steps.meta-nightly.outputs.labels }}
        build-args: |
          CARGO_FEATURES=js-tracer
        cache-from: type=gha,scope=${{ github.workflow }}-nightly-e2e
        cache-to: type=gha,scope=${{ github.workflow }}-nightly-e2e
